body {
    max-width: 900px;
    margin: 100px auto;
    background-color: #fca6c9;
    text-align: center;
}
div {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
header {
    color: #ffffff;
    font-family: "Arial";
}
header .title:hover {
    color: #000000;
}
.top-quote {
    color: #ffffff;
}
#nelson {
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Arial";
}
#quote {
    color:#ffffff;
}
footer {
    color:#000000;
    font-family: "Arial";
}
ol {
    list-style-position: inside;
    font-family: "Arial";
    font-weight: bold;
    text-align: left;
}
img {
    width: 200px;
}