@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans&display=swap');

#content {
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
nav a {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #062d6a;
    color: #e3f3f4;
}
header {
    background-color: #74848c;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#profile-pic {
    width: 100%;
    padding-top: 4px;
}
#profile-box {
    grid-column: 1/2;
    grid-row: 1/4;
}
.about {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    font-family: "Cinzel", serif;
    color: #062d6a;
}
p {
    font-family: "Open Sans", sans-serif;
}
footer {
    background-color:#000000;
    color: #e3f3f4;
    padding: 25px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 a {
    color: #e3f3f4;
}
.social a {
    color: #e3f3f4;
    text-decoration: none;
    padding: 10px;
}
/* Portfolio page css*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #74848c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #062d6a;
}

/* Caption text */
.text {
  color: #396E94;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #74848c;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contact page CSS/
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }